name: Auto Scan Beijing IPTV
on:
  workflow_dispatch: # 手动触发
  schedule:
    - cron: '0 0 * * *' # 每天凌晨自动运行

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run scan script
        run: python3 py/scan.py
      - name: Commit results
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Action"
          git add beijing_hotel.m3u
          git commit -m "Update Beijing IPTV List" || exit 0
          git push
